.toggleContainer{
  text-align: center;
}
/*  Toggle Switch  */
.toggleSwitch span span {
display: none;
}  

.toggleSwitch {
display: inline-block;
height: 18px;
margin-top:37px;
position: relative;
overflow: visible;
padding: 0;
cursor: pointer;
width: 637px;
background-color: #fafafa;
border: 1px solid #ccc;
border-radius:27px;
height:61px;
  user-select: none;
}
.toggleSwitch * {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}
.toggleSwitch label,
.toggleSwitch > span {
line-height: 20px;
height: 20px;
vertical-align: middle;
}
.toggleSwitch input:focus ~ a,
.toggleSwitch input:focus + label {
outline: none;
}
.toggleSwitch label {
position: relative;
z-index: 3;
display: block;
width: 100%;
}
.toggleSwitch input {
position: absolute;
opacity: 0;
z-index: 5;
}
.toggleSwitch > span {
position: absolute;
left: 0;
width: calc(100% - 6px);
margin: 0;
color: black;
text-align: left;
white-space: nowrap;
margin:0 3px;
}
.toggleSwitch > span span {
position: absolute;
z-index: 5;
display: block;
width: 50%;
color: black !important;
margin-left: 50px;
font-size: 1.9em;
left: 0;
top: -1px;
opacity: 1;
text-align: center;
line-height:55px;
font-weight: 700;
}
.toggleSwitch a {
position: absolute;
right: 50%;
z-index: 4;
display: block;
top: 3px;
bottom: 3px;
padding: 0;
left: 3px;
width: 50%;
background-color:black;
border-radius: 27px;
-webkit-transition: all 0.2s ease-out;
-moz-transition: all 0.2s ease-out;
transition: all 0.2s ease-out;
box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}
.toggleSwitch > span span:first-of-type {
color: #FFF !important;
opacity: 1;
left: 0;
margin: 0;
  width: 50%;
}
.toggleSwitch > span span:last-of-type {
left:auto;
right:0;
opacity: 1;
color: white  ; 
margin: 0;
  width: 50%;
}
.toggleSwitch > span:before {
content: '';
display: block;
width: 100%;
height: 100%;
position: absolute;
left: 0;
top: -2px;
border-radius: 30px;
-webkit-transition: all 0.2s ease-out;
-moz-transition: all 0.2s ease-out;
transition: all 0.2s ease-out;
}
.toggleSwitch input:checked ~ a {
left: calc(50% - 3px);
}
.toggleSwitch input:checked ~ span:before {
border-color: #0097D1;
}
.toggleSwitch input:checked ~ span span:first-of-type {
left:0;
color:black !important;
}
.toggleSwitch input:checked ~ span span:last-of-type {
 
color:white !important;
}
/* Switch Sizes */
.toggleSwitch.large {
width: 60px;
height: 27px;
}
.toggleSwitch.large a {
width: 27px;
}
.toggleSwitch.large > span {
height: 29px;
line-height: 28px;
}
.toggleSwitch.large input:checked ~ a {
left: 41px;
}
.toggleSwitch.large > span span {
font-size: 1.1em;
}
.toggleSwitch.large > span span:first-of-type {
left: 50%;
}
.toggleSwitch.xlarge {
width: 80px;
height: 36px;
}
.toggleSwitch.xlarge a {
width: 36px;
}
.toggleSwitch.xlarge > span {
height: 38px;
line-height: 37px;
}
.toggleSwitch.xlarge input:checked ~ a {
left: 52px;
}
.toggleSwitch.xlarge > span span {
font-size: 1.4em;
}
.toggleSwitch.xlarge > span span:first-of-type {
left: 50%;
}
.mytxt{
  font-weight: 700;
  margin-left: -78%;
  margin-top: 5%;
  font-size: 30px;
}
.img12{
  width: 325px;
  height: 283px;
  margin-left: -68%;
  margin-top: 4%;
}
.img13{
  width: 325px;
  height: 283px;
  margin-left: -68%;
  margin-top: 4%;
}
.imgtxt{
  font-weight: 500;
  margin-left: -66%;
  margin-top: 0%;
  font-size: 30px;
  font-style: revert;
  text-decoration: none;
}
.imgtxt1{
  font-weight: 500;
  margin-left: -69%;
  margin-top: 0%;
  font-size: 30px;
  font-style: revert;
}
@media(max-width:600px){
  .toggleContainer{
    text-align: center;
    margin-top: 47px;
  }
  /*  Toggle Switch  */ 
  .toggleSwitch span span {
  display: none;
  }   
  .toggleSwitch {
  display: inline-block;
  height: 18px;
  margin-top:37px;
  position: relative;
  overflow: visible;
  padding: 0;
  cursor: pointer;
  width: 343px;
  background-color: #fafafa;
  border: 1px solid #ccc;
  border-radius:27px;
  height:51px;
    user-select: none;
  }
  .toggleSwitch * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  }
  .toggleSwitch label,
  .toggleSwitch > span {
  line-height: 20px;
  height: 20px;
  vertical-align: middle;
  }
  .toggleSwitch input:focus ~ a,
  .toggleSwitch input:focus + label {
  outline: none;
  }
  .toggleSwitch label {
  position: relative;
  z-index: 3;
  display: block;
  width: 100%;
  }
  .toggleSwitch input {
  position: absolute;
  opacity: 0;
  z-index: 5;
  }
  .toggleSwitch > span {
  position: absolute;
  left: 0;
  width: calc(100% - 6px);
  margin: 0;
  color: black;
  text-align: left;
  white-space: nowrap;
  margin:0 3px;
  }
  .toggleSwitch > span span {
  position: absolute;
  z-index: 5;
  display: block;
  width: 50%;
  color: black !important;
  margin-left: 50px;
  font-size: 1.9em;
  left: 0;
  top: -1px;
  opacity: 1;
  text-align: center;
  line-height:55px;
  font-weight: 700;
  }
  .toggleSwitch a {
  position: absolute;
  right: 50%;
  z-index: 4;
  display: block;
  top: 3px;
  bottom: 3px;
  padding: 0;
  left: 3px;
  width: 50%;
  background-color:black;
  border-radius: 27px;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  }
  .toggleSwitch > span span:first-of-type {
  color: #FFF !important;
  opacity: 1;
  left: 0;
  margin: 0;
    width: 50%;
  }
  .toggleSwitch > span span:last-of-type {
  left:auto;
  right:0;
  opacity: 1;
  color: white !important; 
  margin: 0;
    width: 50%;
  }
  .toggleSwitch > span:before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: -2px;
  border-radius: 30px;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  }
  .toggleSwitch input:checked ~ a {
  left: calc(50% - 3px);
  }
  .toggleSwitch input:checked ~ span:before {
  border-color: #0097D1;
  }
  .toggleSwitch input:checked ~ span span:first-of-type {
  left:0;
  color:black !important;
  }
  .toggleSwitch input:checked ~ span span:last-of-type {
   opacity: 1;
  color:black;
  }
  /* Switch Sizes */
  .toggleSwitch.large {
  width: 60px;
  height: 27px;
  }
  .toggleSwitch.large a {
  width: 27px;
  }
  .toggleSwitch.large > span {
  height: 29px;
  line-height: 28px;
  }
  .toggleSwitch.large input:checked ~ a {
  left: 41px;
  }
  .toggleSwitch.large > span span {
  font-size: 1.1em;
  }
  .toggleSwitch.large > span span:first-of-type {
  left: 50%;
  }
  .toggleSwitch.xlarge {
  width: 80px;
  height: 36px;
  }
  .toggleSwitch.xlarge a {
  width: 36px;
  }
  .toggleSwitch.xlarge > span {
  height: 38px;
  line-height: 37px;
  }
  .toggleSwitch.xlarge input:checked ~ a {
  left: 52px;
  }
  .toggleSwitch.xlarge > span span {
  font-size: 1.4em;
  }
  .toggleSwitch.xlarge > span span:first-of-type {
  left: 50%;
  }
  .mytxt{
    font-weight: 700;
    margin-left: -53%;
    margin-top: 5%;
    font-size: 30px;
  }
  .img12{
    width: 325px;
    height: 283px;
    margin-left: -68%;
    margin-top: 4%;
  }
  .img13{
    width: 325px;
    height: 283px;
    margin-left: -11%;
    margin-top: 4%;
  }
  .imgtxt{
    font-weight: 500;
    margin-left: -66%;
    margin-top: 0%;
    font-size: 30px;
    font-style: revert;
    text-decoration: none;
  }
  .imgtxt1{
    font-weight: 500;
    margin-left: -69%;
    margin-top: 0%;
    font-size: 30px;
    font-style: revert;
  }
}